.lineNumber::before{
    content:attr(data-line-number);
}
.bordered{
    word-break:break-all;
}
.bordered table{
    table-layout:fixed;
    width:100%;
}
.bordered td.lineNumber{
    text-align:right;
    font-family:monospace;
    color:gray;
    vertical-align:top;
    height:12pt;
    white-space:nowrap;
}
.bordered td.content{
    white-space:pre;
    word-wrap:break-word;
    font-family:monospace;
}
.highlighted_cpp{
    tab-size:4;
    line-height:12pt;
}
/**/
.highlighted_cpp span.characterLiteral{
    color:blue;
}
.highlighted_cpp span.comment{
    color:gray;
}
.highlighted_cpp span.cStringLiteral{
    color:blue;
}
.highlighted_cpp span.numberLiteral{
    color:darkviolet;
}
.highlighted_cpp span.operator{
    color:red;
}
.highlighted_cpp span.preprocessingDirective{
    color:green;
}
.highlighted_cpp span.test{
    color:orange;
}
/**/
.highlighted_cpp span.keywords{
    color:darkblue;
    font-weight:bold;
    line-height:0px;
}
.highlighted_cpp span.library{
    color:deeppink;
}
.highlighted_cpp span.stlcontainers{
    color:green;
    font-weight:bold;
    line-height:0px;
}
.highlighted_cpp span.constants{
    color:darkviolet;
    font-weight:bold;
    line-height:0px;
}
.highlighted_cpp span.preprocessorInstruction{
    color:green;
}
.highlighted_cpp span.includePI{
    color:darkred;
}
